@charset "utf-8";

body{
    margin: 0;
    padding: 0;
    background-color: #cccccc;
    color: #333333;
    font-size: 15px;
    line-height: 2;
}

p,h1,h2,h3,h4,h5,h6{
    margin-top: 0;
}

img{
    vertical-align: bottom;
}

ul{
    margin: 0;
    padding: 0;
}

a{
    color: #3583aa;
    text-decoration: none;
}

a:visited{
    color: #788d98;
}


a:hover{
    text-decoration: underline;
}

header{
    width: 960px;
    height: 100px;
    margin: 0 auto;
}

.logo{
    float: left;
    margin-top: 50px;
}

.global-nav{
    float: right;
    margin-top: 50px;
}

.global-nav li{
    float: left;
    margin: 0 20px;
    font-size: 20px;
    list-style: none;
    font-family: 'Bitter', serif;
}

.global-nav li a{
    color: #ffffff;
}

.global-nav li a:hover{
    border-bottom: 2px solid #ffffff;
    padding-bottom: 3px;
    text-decoration: none;
}

#wrap{
    clear: both;
    background-color: #ffffff;
    margin-top: 220px;
    padding: 35px 0;
}

.content{
    width: 960px;
    margin: 0 auto;
}

footer{
    text-align: center;
    color: #ffffff;
    padding: 20px 0;
    background-color: #767671;
}

footer small{
    font-size: 12px;
}

#index h1{
    font-size: 100px;
    line-height: 1;
    color: #ffffff;
    font-family: 'Bitter', serif;
    margin-bottom: 50px;
    border: none;
}

#index .content{
    margin-top: 150px;
}

#index p{
    font-size: 16px;
    color: #ffffff;
}

.btn a{
    background-color: #009cd3;
    color: #ffffff;
    font-size: 20px;
    font-family: 'Bitter', serif;
    width: 185px;
    display: block;
    text-align: center;
    line-height: 50px;
    margin-top: 20px;
    border-radius: 5px;
    border: 3px solid #009cd3;
}

.btn a:hover{
    text-decoration: none;
    background-color: #ffffff;
    color: #009cd3;
}

#index footer{
    width: 960px;
    margin: 150px auto 0 auto;
    text-align: left;
    background-color: transparent;
}

#index{
    background-image: url(../images/bg-index.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

#about{
    background-image: url(../images/bg-about.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    background-size: 100% auto;
}

.main-center {
    width: 940px;
    margin: 0 auto;
}

h1 {
    font-family: 'Bitter', serif;
    font-size: 36px;
    border-bottom: 1px solid #cccccc;
}

h2 {
    font-family: 'Bitter', serif;
    font-size: 24px;
}

.icon::before{
    content: "";
    padding-right: 10px;
    border-left: 7px solid #9cb4a4;
}

#about .profile-txt {
    width: 540px;
    float: left;
}

#about .profile-txt span{
    font-weight: bold;
}

#about .profile-image {
    float: right;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

section{
    margin-bottom: 35px;
}

#about .career th{
    width: 240px;
    background-color: #f0f0f0;
    padding: 12px 0;
    border: 1px solid #cccccc;
}

#about .career td{
    width: 660px;
    padding: 12px 0 12px 40px;
    border: #cccccc;
}

table{
    border-spacing: 0;
    border-collapse: collapse;
}

#index #wrap{
    background-color: transparent;
    margin-top: 0;
    padding: 0;
}

#portfolio{
    background-image: url(../images/bg-portfolio.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    background-size: 100% auto;
}

.main{
    width: 700px;
    margin: 0 10px;
    float: left;
}

.sidebar{
    width: 200px;
    margin: 0 10px0 30px;
    float: right;
    font-family: 'Bitter', serif;
}

a img:hover{
    opacity: 0.8;
}

.sidebar h2{
    margin-bottom: 10px;
}

.sidebar ul{
    font-size: 16px;
    margin-left: 20px;
}

.sidebar ul a{
    color: #333333;
}

#photograph{
    background-image: url(../images/bg-photograph.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    background-size: 100% auto;
}

#photograph .photograph-list li{
    float: left;
    list-style: none;
    margin: 0 20px 15px 0;
}

#photograph .photograph-list li:nth-child(3n){
    margin-right: 0;
}

#video{
    background-image: url(../images/bg-video.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    background-size: 100% auto;
}