@charset "utf-8"

body {
    margin: 0;
    padding: 0;
    background-color: #cccccc;
    color: #333333;
    font-size: 15px;
    line-height: 2;
}

p,h1,h2,h3,h4,h5,h6{
    margin-top: 0;
}

img{
    vertical-align: bottom;
}

ul{
    margin: 0;
    padding: 0;
}

a{
    color: #3583aa;
    text-decoration: none;
}

a:visited{
    color: #788d98;
}


a:hover{
    text-decoration: underline;
}

header{
    width: 960px;
    height: 100px;
    margin: 0 auto;
}

.logo{
    float: left;
    margin-top: 50px;
}

.global-nav{
    float: right;
    margin-top: 50px;
}

.global-nav li{
    float: left;
    margin: 0 20px;
    font-size: 20px;
    list-style: none;
    font-family: 'Bitter', serif;
}

.global-nav li a{
    color: #ffffff;
}

.global-nav li a:hover{
    border-bottom: 2px solid #ffffff;
    padding-bottom: 3px;
    text-decoration: none;
}

#wrap{
    clear: both;
}

.content{
    width: 960px;
    margin: 0 auto;
}

footer{
    text-align: center;
    color: #ffffff;
    padding: 20px 0;
}

footer small{
    font-size: 12px;
}